@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
:root {
  --primary: #58a4b0;
  --secondary: #373f51;
  --tertiary: #a9bcd0;
  --foreground: #1b1b1e;
  --light: #d8dbe2;
  --background: #d8dbe2;
}
*:not(ul,
ol,
li) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: var(--primary);
}
a:hover {
  color: var(--tertiary);
}
a,
p.link {
  transition: all 300ms linear;
}
header {
  position: relative;
  border-bottom: 1px solid var(--secondary);
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding: 20px;
}
header:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://clandrones.com/images/header.jpg") no-repeat center;
  background-size: cover;
  opacity: 0.3;
}
header .expansor {
  flex-grow: 1;
}
header a {
  position: relative;
  display: flex;
  align-items: center;
}
header a img {
  width: 120px;
  height: 120px;
}
header a span {
  font-size: 1.2em;
  margin-left: 20px;
}
header a.homeTitle span {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
}
footer {
  border-top: 1px solid var(--secondary);
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
}
h1 {
  color: var(--secondary);
}
h2 {
  color: var(--foreground);
}
.container {
  display: grid;
  grid-template-columns: 1fr 250px;
  grid-gap: 20px;
}
@media (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
  }
}
.container,
.xml {
  margin: 20px;
}
.content .postLayout {
  display: flex;
  justify-content: space-between;
}
.content .postLayout img {
  max-width: 50%;
}
.content .postLayout .post {
  flex-grow: 1;
  margin-right: 20px;
  text-align: right;
}
.sidebar {
  border-left: 1px solid var(--secondary);
  padding-left: 20px;
}
.sidebar .item {
  display: block;
  padding: 5px 0;
}
.content,
.xml {
  display: flex;
  flex-direction: column;
}
.content .navigator,
.xml .navigator {
  display: flex;
  justify-content: space-between;
}
.content > *,
.xml > * {
  display: block;
  margin: 5px 0;
}
.content script,
.xml script,
.content style,
.xml style {
  display: none;
}
.content img,
.xml img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin: auto;
}
.content p,
.xml p {
  line-height: 1.3em;
}
.content p > code,
.xml p > code {
  background-color: var(--light);
  padding: 2px 4px;
  border-radius: 4px;
}
.content blockquote,
.xml blockquote {
  position: relative;
  padding: 4px 20px;
  opacity: 0.5;
}
.content blockquote:before,
.xml blockquote:before {
  position: absolute;
  content: "";
  width: 3px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary);
}
.content pre,
.xml pre {
  width: 100%;
  background-color: var(--secondary);
  padding: 10px;
  margin: 0 auto;
  border-radius: 6px;
  overflow: auto;
  display: flex;
  line-height: 1.6em;
}
.content pre code,
.xml pre code {
  font-size: 1.1em;
  max-width: 10px;
}
.blogList {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0;
}
.blogList .card {
  height: 300px;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  transition: background-color 0.3s ease-in-out;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-position: top center;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.blogList .card:hover p.link {
  text-decoration: underline;
  color: var(--tertiary);
}
.blogList .blogContent {
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
}
.blogList .author {
  font-size: 14px;
  font-weight: bold;
  color: var(--primary);
}
.blogList .title,
.blogList .cta {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.blogList .postTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--light);
}
.blogList .excerpt {
  color: var(--light);
  margin-bottom: 10px;
}
.blogList .date {
  font-size: 12px;
  color: var(--primary);
  text-align: right;
}
.blogList a.megaLink {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}
@media (max-width: 600px) {
  .blogList .card {
    flex: 1 0 calc(100% - 20px);
  }
}
@media (min-width: 601px) and (max-width: 800px) {
  .blogList .card {
    flex: 1 0 calc(50% - 20px);
  }
}
@media (min-width: 801px) {
  .blogList .card {
    flex: 1 0 calc((100% / 3) - 20px);
  }
}
